<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ESBSoap" />
                <binding name="ClientServiceSoap" />
                <binding name="MonitorSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="MonitorSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://soa.uat.sh.ctriptravel.com/SOA.ESB/Ctrip.SOA.ESB.asmx"
                binding="basicHttpBinding" bindingConfiguration="ESBSoap"
                contract="ServiceESB.ESBSoap" name="ESBSoap" />
            <endpoint address="http://memcachews.uat.qa.sh.ctripcorp.com/framework.memcached.service/clientservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ClientServiceSoap"
                contract="ServiceMemcached.ClientServiceSoap" name="ClientServiceSoap" />
            <endpoint address="http://192.168.82.67/CLoggingAppMonitor_Prod/Monitor.asmx"
                binding="basicHttpBinding" bindingConfiguration="MonitorSoap"
                contract="CLoggingService.MonitorSoap" name="MonitorSoap" />
            <!--<endpoint address="http://192.168.82.67/CLoggingAppMonitor_Prod/Monitor.asmx"
                binding="customBinding" bindingConfiguration="MonitorSoap12"
                contract="CLoggingService.MonitorSoap" name="MonitorSoap12" />-->
        </client>
    </system.serviceModel>
</configuration>