<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReportEmail" value="D:\Users\yqlong\Documents\visual studio 2010\Projects\ConsoleApplication1\ReportEmail\bin\Debug\SendReportEmailApp.exe"/>
    <add key="UAT" value="d:\Users\yqlong\Desktop\Teddy.Ctrip.Com\UATService\bin\Debug\UATService.exe"/>
    <add key="CI" value="E:\tfs2\MainLine\CATI\PlatformPortal\CIConsole\bin\Debug\CIConsole.exe"/>
  </appSettings>
</configuration>