<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="domain" value="http://autotest"/>
    <add key="DeadLine" value="17"/>
    <add key="ReSetTime" value="0"/>
    <add key="CheckIntervals" value="30"/>
    <add key="phantomJSPath" value="D:\phantomjs-driver\phantomjs.exe"/>
    <add key="phantomJSArguments" value="D:\phantomjs-driver\Scripts\BossCapture.js"/>
    <add key="serverPath" value="\\VDST-W7-056\CIFiles\teddy\"/>
    <add key="ATDataBaseCI" value="Data Source=192.168.81.16,55944;Initial Catalog=ATDataBase;User ID=uapp_autotest;password=1qaz@wsx"/>
    <add key="XMLPath" value="http://autotest.sh.ctriptravel.com/config.xml"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.144.19:8888/EmailService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="ServiceReference.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>