.border
{
    border-color:Red;
    border-style:solid;
    margin-top:10px;
    width:auto;
    height:auto;
    padding:5px;
}

.desc
{
    font-size:25px;
    font-style:italic;
    color:Green;    
    margin-bottom:10px;
}